body {
    font-family: monospace;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2d374c;
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23dddddd' fill-opacity='0.12' fill-rule='evenodd'/%3E%3C/svg%3E");
    text-align: center;
}

#headingOne {
    margin-top: 90px;
    font-family: monospace;
    font-size: 30pt;
    display: flex;
    align-items: center;
    color: white;
}

#gameInfo {
    font-size: 15pt;
    margin-top: -10px;
    color: white;
}

.choices {
    font-family: monospace;
    margin-top: 20px; 
    margin-bottom: 30px;
    color: aqua;
}

.choices button {
    min-width: 160px;
    margin: 0 10px;
    font-weight: bold;
    font-family: monospace;
    border-radius: 250px;
    background-color: #2d374c;
    cursor: pointer;
    transition: background-color 0.5s ease;
    color: rgb(255, 255, 255);
}

.choices button:hover {
    background-image: linear-gradient(to right, rgb(255, 255, 255), orange, yellow, green, blue, indigo, violet, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-animation 200s linear infinite;
}

#playerDisplay {
    margin-top: 15px;
    font-size: 15pt;
    color: rgb(6, 99, 240);
}

#computerDisplay {
    margin-top: 35px;
    font-size: 15pt;
    color: rgb(255, 72, 0);
}

#resultDisplay {
    color: rgb(218, 218, 218);
    font-size: 30pt;
    margin-top: 20px;
}

.gameAuthor {
    text-align: center;
    position: relative;
    color: aqua;
    margin-top: 150px;
    font-size: 12pt;
    background-image: linear-gradient(to right, rgb(255, 255, 255), orange, yellow, green, blue, indigo, violet, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-animation 200s linear infinite;
}

#gameAuthor:hover {
    cursor: pointer;
    color: rgb(250, 253, 69);
}

@keyframes rainbow-animation {
    to {
        background-position: 4500vh;
    }
}


@media (min-width: 320px) and (max-width: 480px) {
    #headingOne{
        margin-top: 60px; 
        font-size: 15pt;
    }
    #gameInfo{
        font-size: 15pt;
        margin-top: 30px; 
    }
    .choices{
        margin-top: 30px; 
    }
    #playerDisplay,
    #computerDisplay,
    #resultDisplay {
        font-size: 18pt;
        margin-top: 30px; 
    }
    .choices button {
        font-size: 15pt;
        min-width: 140px;
        padding: 10px 20px;
        margin: 5px;
    }
    .gameAuthor {
        position: relative;
        font-size: 12pt;
        margin-top: 200px;
    }
}


@media (max-width: 768px) {
    #headingOne{
        margin-top: 40px;
        font-size: 28pt;
    }
    #gameInfo{
        font-size: 14pt;
        margin-top: 0;
    }
    .choices{
        margin-top: 20px;
    } 
    #playerDisplay{
        font-size: 16pt;
    }
    #computerDisplay{
        font-size: 16pt;
    }
    #resultDisplay{
        font-size: 16pt;
    }
    .choices button{
        font-size: 14pt;
        min-width: 120px;
        margin: 5px;
    }
    .gameAuthor{
        font-size: 11pt;
        margin-top: 70px;
    }
}

@media (max-width: 1024px) {
    #headingOne {
        margin-top: 60px;
        font-size: 32pt;
    }
    #gameInfo {
        font-size: 16pt;
        margin-top: 10px;
    }
    .choices {
        margin-top: 20px;
    }
    #playerDisplay,
    #computerDisplay,
    #resultDisplay {
        font-size: 18pt;
    }
    .choices button {
        font-size: 16pt;
        min-width: 140px;
        margin: 10px;
    }
    .gameAuthor {
        font-size: 12pt;
        margin-top: 90px;
    }
}

@media (max-width: 1200px) {
    #headingOne {
        margin-top: 80px;
        font-size: 36pt;
    }
    #gameInfo {
        font-size: 18pt;
        margin-top: 20px;
    }
    .choices {
        margin-top: 20px; 
    }
    #playerDisplay,
    #computerDisplay,
    #resultDisplay {
        font-size: 20pt;
    }
    .choices button {
        font-size: 18pt;
        min-width: 160px;
        margin: 10px;
    }
    .gameAuthor {
        font-size: 13pt;
        margin-top: 100px;
    }
}

@media (max-width: 1600px) {
    #headingOne {
        margin-top: 90px;
        font-size: 40pt;
    }
    #gameInfo {
        font-size: 20pt;
        margin-top: 30px;
    }
    .choices {
        margin-top: 20px; 
    }
    #playerDisplay,
    #computerDisplay,
    #resultDisplay {
        font-size: 22pt;
    }
    .choices button {
        font-size: 20pt;
        min-width: 180px;
        margin: 15px;
    }
    .gameAuthor {
        font-size: 14pt;
        margin-top: 120px;
    }
}
